@using InfoScreenPi.Entities
@model List<Background>
    <div class="pagination-container-backgrounds">
        @{
            var pageCounter = 1;
            var rowCounter = 0;
            var display = "block";
        for(int i = 0; i <= Model.Count(); i++)
        {
            Background b = null;
            if(i < Model.Count()){
                b = Model.ElementAt(i);
            }
            if((i % 4) == 0){
                
                if ((rowCounter % 3) == 0)
                {
                    @:<div data-page="@pageCounter" style="display:@display">    
                }
                @:<div class="row">
                display = "none";
                rowCounter = rowCounter + 1;
            }

            if(i == Model.Count()){
                @:
                <!--<div class="col-xs-6 col-md-3 demo-item">
                    <a id="linkAddBackground" class="thumbnail">
                        <img id="add" src="~/images/addIcon.svg" height="10px">
                    </a>
                </div>-->
            }
            else{
                if(b.Url.StartsWith("http://"))
                {
                    @:
                    <div class="col-xs-6 col-md-3 demo-item">
                        <a href="@b.Url" class="thumbnail">
                            <img id="@b.Id" src="@b.Url">
                        </a>
                    </div>
                }
                else
                {
                    string url = "images/backgrounds/" + b.Url;
                    string thumb = "images/backgrounds/thumbnails/" + b.Url;
                    @:
                    <div class="col-xs-6 col-md-3 demo-item">
                        <a href="@url" class="thumbnail">
                            <img id="@b.Id" src="@thumb">
                        </a>
                    </div>
                }
            }

            if(i == Model.Count()){
                @:</div></div>
            }
            else if((((i+1) % 4) == 0) ){
                @:</div>
                if (((rowCounter) % 3) == 0)
                {
                    @:</div>
                    pageCounter = pageCounter + 1;
                } 
            }
        }
        
            
            <nav aria-label="Page navigation example">
                <div class="text-center">
                    <ul class="pagination justify-content-center page_control">
                        <li class="page-item disabled" data-page="-">
                            <a class="page-link" href="#" aria-label="Previous" data-page="-">
                                <span aria-hidden="true">&laquo;</span>
                                <span class="sr-only">Previous</span>
                            </a>
                        </li>
                        <li class="active page-item" data-page="1"><a class="page-link" href="#">1</a></li>
                        @for (int c = 2; c <= pageCounter; c++)
                        {
                            <li class="page-item" data-page="@c"><a class="page-link" href="#">@c</a></li>
                        }
                        <li class="page-item" data-page="+">
                            <a class="page-link" href="#" aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                                <span class="sr-only">Next</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </nav>
            
           
        }
        
    </div>


<script>
    var paginationHandler = function(){
        // store pagination container so we only select it once
        var $paginationContainer = $(".pagination-container-backgrounds"),
            $pagination = $paginationContainer.find('.pagination');
        var linkBut = $pagination.find("li a ");
        // click event
        linkBut.on('click.pageChange',function(e){
            e.preventDefault();
            // get parent li's data-page attribute and current page
            var parentLiPage = $(this).parent('li').data("page"),
                currentPage = parseInt( $(".pagination-container-backgrounds div[data-page]:visible").data('page') ),
                numPages = $paginationContainer.find("div[data-page]").length;
            // make sure they aren't clicking the current page
            if ( parseInt(parentLiPage) !== parseInt(currentPage) ) {
                // hide the current page
                $paginationContainer.find("div[data-page]:visible").hide();

                
                
                $pagination.find(".active").removeClass("active");
                $pagination.find("li[data-page=" + parseInt(parentLiPage) + "]").addClass("active");

                
                $pagination.find('li[data-page="-"]').removeClass("disabled");
                $pagination.find('li[data-page="+"]').removeClass("disabled");
                
                if ( parentLiPage === '+') {
                    // next page
                    $paginationContainer.find("div[data-page="+( currentPage+1>numPages ? numPages : currentPage+1 )+"]").show();
                    if (currentPage + 2 > numPages) {
                        $pagination.find("li[data-page='+']").addClass("disabled");
                    }
                } else if ( parentLiPage === '-') {
                    // previous page
                    $paginationContainer.find("div[data-page="+( currentPage-1<1 ? 1 : currentPage-1 )+"]").show();
                    if (currentPage-2 < 1) {
                        $pagination.find("li[data-page='-']").addClass("disabled");
                    }
                } else {
                    // specific page
                    $paginationContainer.find("div[data-page="+parseInt(parentLiPage)+"]").show();
                    
                    if (parentLiPage === 1) {
                        $pagination.find('li[data-page="-"]').addClass("disabled");
                    }
                    if (parentLiPage === numPages) {
                        $pagination.find("li[data-page='+']").addClass("disabled");
                    }
                    
                }

                
                



            }
        });
    };

</script>
