@using InfoScreenPi.Entities
@model List<Item>
<table class="table table-striped table-hover">
        <tr>
            <th style="display:none;">Id</th>
            <th width="10px"></th>
            <th width="200px">Titel</th>
            <th width="100px">Achtergrond</th>
            <th>Inhoud</th>
            <th width="50px">Tijd</th>
            <th width="50px">Actief</th>
            <th width="5px"></th>
            <th width="5px"></th>
        </tr>
        @{
            int index = 1;
            foreach(Item i in Model)
            {
                <tr>
                    <td style="display:none;">@i.Id</td>
                    <td>@index</td>
                    <td><b>@i.Title</b></td>
                    <td>
                        @{
                            string url = "";
                            if (i is IStatic){
                              string bg = ((IStatic) i).Background.Url;
                              if(bg.StartsWith("http://"))
                              {
                                 url = bg;
                              }
                              else
                              {
                                 url = "images/backgrounds/thumbnails/" + bg;
                              }

                              <a href="@url" target="new" ><img src="@url" width="100px" /></a>
                            }
                            else if (i is VideoItem)
                            {
                              VideoItem v = (VideoItem)i;
                                <button type="button" class="btn btn-default" onClick="window.open('videos/@v.URL');">
                                    <span class="glyphicon glyphicon-film" aria-hidden="true"></span> &nbsp; VIDEO
                                </button>
                            }
                        }
                    </td>
                    <td>@{
                            string content = "", content2 = "";
                            if(i is IStatic && ((IStatic)i).Content != null){
                                content = System.Text.RegularExpressions.Regex.Replace(((IStatic)i).Content, "&.*?;", " ");
                                content2 = System.Text.RegularExpressions.Regex.Replace(content, "<.*?>", " ");
                            }
                        }
                        @content2
                    </td>
                    <td>
                        @{
                            var timeSpan = TimeSpan.FromSeconds(i.DisplayTime);
                            int mn = timeSpan.Minutes;
                            int sec = timeSpan.Seconds;
                            string weergavetijd = mn + ":" + sec.ToString("D2");
                        }
                        @weergavetijd
                    </td>
                    <td>
                        @if(i.Active){
                            <input type="checkbox" class="stateCheckItems" checked data-toggle="toggle" data-style="ios" data-size="mini" data-on="Actief" data-off="Inactief"data-onstyle="success" data-offstyle="danger">
                        }
                        else
                        {
                            <input type="checkbox" class="stateCheckItems" data-toggle="toggle" data-style="ios" data-size="mini" data-on="Actief" data-off="Inactief"data-onstyle="success" data-offstyle="danger">
                        }
                    </td>
                    <td><span class="glyphicon glyphicon-trash verwijder spanLink" aria-hidden="true" title="Verwijder '@i.Title'"></span></td>
                    <td>
                        @if (!(i is VideoItem))
                        {
                            <span class="glyphicon glyphicon-pencil wijzigItem spanLink" aria-hidden="true" title="Wijzig '@i.Title'"></span>   
                        }
                    </td>
                </tr>
                index++;
            }
        }
    </table>
